{% extends 'base.html' %}


{% block content %}
{% load static %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {
  font-family: Arial;
}

* {
  box-sizing: border-box;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
</style>

<div class="banner">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="caption">
            <h2>Ecommerce HTML Template</h2>
            <div class="line-dec"></div>
            <p>Pixie HTML Template can be converted into your desired CMS theme. Total <strong>5 pages</strong> included. You can use this Bootstrap v4.1.3 layout for any CMS. 
            <br><br>Please tell your friends about <a rel="nofollow" href="https://www.facebook.com/tooplate/">Tooplate</a> free template site. Thank you. Photo credit goes to <a rel="nofollow" href="https://www.pexels.com">Book Website</a>.</p>
            <div class="main-button">
              <a href="#">Order Now!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Banner Ends Here -->

  <!-- Featured Starts Here -->
  
  <!-- Featred Ends Here -->
  <form method="POST" class="example" action="" style="margin:auto;max-width:300px">
    {% csrf_token %}
    <input type="text" placeholder="Search.." name="search">
    <button type="submit"><i class="fa fa-search"></i></button>
  </form>
  
  <div class="container-fluid p-0 m-0 
                align-items-center 
                justify-content-center d-flex"
            style="min-height: 100vh;">
  
        <!-- Row for the card-->
        <div class="row w-100 p-0 w-0">

          {% if result %}
  
            <!-- Column for card-->
            {% for book in result %}
            <div class="col-lg-4 mb-2">
                <div class="card mx-auto" style="width:18rem;">  
                  <a href="data-toggle="modal" data-target="#exampleModalLong">
                  <img class="card-img-top" src="{{book.image.url}}"alt="Card image cap" width='100px' height="250px">
                </a>
                    <div class="card-body">
                        <h5 class="card-title">
                            {{book.name}}
                        </h5>
                        <p class="card-text">
                            {{book.desc}}
                        </p>
                        <p class="card-text" style="color:blue;">
                          &#8377;{{book.amount}}
                        </p>
  <br>
   
                          
  <a href="#link" class="btn btn-primary" role="button">Buy Now</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}

<!--center><h1>No Data Found</h1></center-->
           {% for book in book %}
            <div class="col-lg-4 mb-2">
                <div class="card mx-auto" style="width:18rem;"> 
                  <a href=""data-toggle="modal" data-target="#exampleModalLong" class="building-link"
                  data-name="{{ book.name }}"
                  >
                  <img class="card-img-top" src="{{book.image.url}}"alt="Card image cap" width='100px' height="250px">
                </a> 
                    <div class="card-body">
                        <h5 class="card-title">
                            {{book.name}}
                        </h5>
                        <p class="card-text">
                            {{book.desc}}
                        </p>
                        <p class="card-text" style="color:blue;">
                          &#8377;{{book.amount}}
                        </p>
  <br>
   
                          
  <a href="#link" class="btn btn-primary" role="button">Buy Now</a>
                    </div>
                </div>
            </div>
            {% endfor %}

            {% endif %}
  
            
        </div>
    </div>



  <!-- Subscribe Form Starts Here -->
  <div class="subscribe-form">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <div class="line-dec"></div>
            <h1>Subscribe on Book Web now!</h1>
          </div>
        </div>
        <div class="col-md-8 offset-md-2">
          <div class="main-content">
            <p>Integer vel turpis ultricies, lacinia ligula id, lobortis augue. Vivamus porttitor dui id dictum efficitur. Phasellus vel interdum elit.</p>
            <div class="container">
              <form id="subscribe" action="" method="get">
                <div class="row">
                  <div class="col-md-7">
                    <fieldset>
                      <input name="email" type="text" class="form-control" id="email" 
                      onfocus="if(this.value == 'Your Email...') { this.value = ''; }" 
                      onBlur="if(this.value == '') { this.value = 'Your Email...';}"
                      value="Your Email..." required="">
                    </fieldset>
                  </div>
                  <div class="col-md-5">
                    <fieldset>
                      <button type="submit" id="form-submit" class="button">Subscribe Now!</button>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="building-name"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>
   
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
    $('.building-link').click(function(){
        $('#building-name').html($(this).data('name'));
        $('#building-desc').html($(this).data('desc'));
        $('#building-amount').src($(this).data('amount'));
    });
    </script>

{% endblock %}
